header{
    padding: 1.12rem 5.5% 1.12rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--branco);
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.icones__esquerda{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu__hamburguer{
    width: 3rem;
    height: 3rem;
    background: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    z-index: 3;
    position: relative;
}

header a img{
    height: 3rem;
}

.logo{
    height: 2.5rem;
}

.icones__direita{
    display: flex;
    gap: 0.5rem;
}

.lista__menu{
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    margin-left: -1.5rem;
    width: 18.75rem;
    
   
}

.lista__menu__titulo{
    color: var(--laranja);
    font-size: 1rem;
    font-weight: 700;

    padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.lista__menu__item{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.lista__menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.menu__hamburguer__botao{
    display: none;
}

.menu__hamburguer__botao:checked ~ .lista__menu{
    pointer-events: all;
    opacity: 1;
    transition: 0.5s;
}

.menu__hamburguer__botao:checked ~ * .menu__hamburguer{
    background-image: url("../img/menu_black.svg");
    transition: 0.5s;
}

.azul{
    opacity: 0;
    width: 5.4rem;
    height: 5.4rem;
    
    position: absolute;
    margin-left: -1.5rem;
    z-index: 2;
    transition: 1s;
}

.menu__hamburguer__botao:checked ~ .azul{
    background: var(--azul-degrade);
    
    opacity: 1;
    transition: 0.5s;
}


@media (min-width: 1025px) {
    header{
        padding: 1.12rem 5rem;
    }
    
    .icones__esquerda{
        gap: 0.69rem;
        align-items: end;
    }

    .icones__esquerda label{
        display: none;
    }

   .menu__hamburguer{
    display: none;
   }

   .menu__hamburguer__botao{
    display: none;
   }

   .logo__nome{
    color: #000;
    font-size: 1.875rem;
    font-family: 'Josefin Sans';
    font-weight: 400;
    line-height: 1.875rem;
   }

   .logo__nome span{
    font-weight: 700;
   }

   .icones__direita{
    gap: 3.2rem;
   }

   .coracao{
    display: none;
   }

   nav{
    display: flex;
    gap: 2.62rem
   }

   nav a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-family: 'Poppins';
    line-height: 1.5rem;
   }

   .categorias__centraliza{
        display: flex;
        align-items: center;
   }

   .categorias__botao{
    text-align: center;
    z-index: 10;
   }

   .categorias__botao:hover{
    cursor: pointer;
   }

   .lista__categorias{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: var(--branco);
    top: 75%;
    margin-left: -0.75rem;
   }
   
   .categorias__item:hover{
    background: var(--azul-degrade);
   }

   .categorias__item:hover .categorias__link{
    -webkit-text-fill-color: var(--branco)
   }

   .categorias__input:hover ~ * .categorias__botao{
    color: var(--branco);
   }

   .categorias__input:hover ~  * .lista__categorias{
    opacity: 100;
    pointer-events: all;
   }

   .categorias__input:hover ~ * .azul2{
    background: var(--azul-degrade);
   }

   .azul2{
    width: 7.5rem;
    height: 2.75rem;
    position: absolute;
    margin-left: -0.75rem;
   }

   .categorias__primeiro{
    padding-top: 1.5rem;
   }

}

@media (min-width: 1729px) {
    header{
        justify-content: left;
    }

    .icones__esquerda{
        margin-right: 1.3rem;
    }

    nav{
        margin-right: 32rem;
    }

    .carinho__perfil{
        display: flex;
        align-items: center;
    }

    .carinho__perfil h2{
        color: #000;
        font-size: 1.25rem;
        font-family: 'Poppins';
        line-height: 1.875rem;
    }
}