header{
    padding: 1.12rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--branco);
    position: relative;
}

.icones__esquerda{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu__hamburguer{
    width: 3rem;
    height: 3rem;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

header a img{
    height: 3rem;
}

.logo{
    height: 2.5rem;
}

.icones__direita{
    display: flex;
    gap: 0.8rem;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--branco);
    margin-left: -1.5rem;
    width: 18.75rem;
   
}

.lista__menu__titulo{
    color: var(--laranja);
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 700;

    padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.lista__menu__item{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 1.5rem;
}

.lista__menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.menu__hamburguer__botao{
    display: none;
}

.menu__hamburguer__botao:checked ~ .lista__menu{
    display: block;
}

.menu__hamburguer__botao:checked ~ .menu__hamburguer{
    background-image: url("../img/menu_black_24dp\ 1.svg");
}

