.newsletter{
    background: var(--branco);
    padding: 0 1.5rem 1.88rem 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.newsletter__corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 48.375rem;
}

.newsletter__esquerda{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 23.6rem;
}

.newsletter__titulo{
    line-height: 1.75rem;
    font-size: 1.125rem;
    font-family: 'Poppins';
    font-weight: 500;
}

.newsletter__texto{
    line-height: 1.46875rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 300;
}

.newsletter__cadastro{
    max-width: 23.75rem;
    background: var(--azul-degrade);
    border-radius: 24px;
    padding: 1px;
    width: 100%;
}

.newsletter__cor{
    display: flex;
    gap: 0.625rem;
    padding: 0.625rem 1.5rem;
    background-color: var(--branco);
    
    border-radius: 24px;
}

.newsletter__input::placeholder{
    line-height: 1.5rem;
    color: var(--azul-degrade);
}

@media (min-width: 1025px) {
    .newsletter__corpo{
        padding: 0 9.31rem 3.31rem 9.31rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center ;
    }

    .newsletter__esquerda{
        max-width: 22.5rem;
        gap: 1.19rem;
    }

    .newsletter__titulo{
        font-size: 1.5rem;
        line-height: 2.0625rem;
    }

    .newsletter__cadastro{
        width: 20.5rem;
    }

    .newsletter__cadastro{
        height: 2.775rem;
    }
}

@media (min-width: 1729px) {
    .newsletter__esquerda{
        max-width: 25rem;
    }

    .newsletter__texto{
        max-width: 21rem;
    }
}