.div__topicos{
    padding: 1rem 0;
    background: var(--branco);
    width: 100%;
    box-sizing: border-box;
}

.topicos{
    background: var(--azul-degrade);
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topicos__titulo{
    color: var(--branco);
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 300;
    line-height: 1.5rem;
    padding: 0 0 1rem 0;
}

.topicos__lista{
    padding: 0 0.5rem;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 56.25rem;
}

.topicos__item{
    padding: 1rem 1.5rem;
    margin: 1rem 0.5rem 0 0.5rem;
    background: var(--laranja);
    width: max-content;

    color: var(--branco);
    font-size: 0.875rem;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 1.3125rem;
}

@media (min-width: 1025px) {
     .div__topicos{
        padding-top: 0;
        padding-bottom: 1.87rem
    }

    .topicos{
        padding: 2rem 7rem;
    }

    .topicos__titulo{
        line-height: 2.25rem;
        font-size: 1.5rem;
    }

    .topicos__item{
        margin: 1.5rem 0.75rem 0 0.75rem;
        padding: 1.5rem 2rem;

        line-height: 2.25rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 1729px){
    .div__topicos{
        padding-bottom: 4rem;
    }
}